h2,
h3,
h4,
h5,
h6 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: 15px;
    position: relative;

    &::after {
        content: '';
        position: absolute; left: 0; bottom: 0;
        width: 40%; height: 5px;
        background: $gray-400;
    }
}
