.wp-block-code {
    background: #272822;
    border-radius: $border-radius;
    color: $gray-200;
    padding: 10px;
}

.wp-block-preformatted {
    font-size: 1rem;
}

.wp-block-table {
    @extend .table-responsive;

    .table {
        @extend .table-bordered;

        margin: 0;
    }

    &.is-style-stripes {
        .table {
            @extend .table-striped;
        }
    }

    figcaption {
        font-size: 0.8rem;
        font-style: italic;
    }
}

.wp-block-pullquote {
    font-size: 1.2em;
    width: 60%;
    margin: 50px auto;
    font-style: italic;
    color: $gray-800;
    padding: 1.2em 30px 1.2em 60px;
    border-left: 8px solid $primary ;
    line-height: 1.6;
    position: relative;
    background: $gray-200;

    @include media-breakpoint-down(md) {
        margin: 15px auto;
        width: 80%;
    }

    @include media-breakpoint-only(xs) {
        width: 100%;
    }

    &::before {
        content: "\201C";
        color: $primary;
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    &::after {
        content: '';
    }

    cite {
        display: block;
        color: $gray-800;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }
}

.wp-block-quote {
    padding: 0;
    width: 60%;
    min-width: 400px;
    max-width: 820px;
    font-size: 1.25vw;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media-breakpoint-down(lg) {
        font-size: 2vw;
    }

    @include media-breakpoint-down(md) {
        font-size: 2.5vw;
    }

    @include media-breakpoint-down(sm) {
        font-size: 18px;
        width: 100%;
        min-width: 100%;
    }

    p {
        margin-bottom: 0.5rem;

        &:first-of-type:before {
            content: '\201c';
            font-size: 1.1em;
            font-weight: bold;
        }

        &:last-of-type:after {
            content: '\201d';
            font-size: 1.1em;
            font-weight: bold;
        }
    }

    cite {
        color: $gray-600;
        font-size: 0.9em;

        &:before {
            content: '\2013\00a0';
        }
    }
}

.wp-block-verse {
    border-left: 4px solid $gray-400;
    padding-left: 5px;
}

.wp-block-image {
    figcaption {
        color: $gray-700;
        font-size: 0.9rem;
    }

    &.is-style-rounded {
        img {
            @extend .rounded-circle;
        }
    }
}

.wp-block-media-text {
    $block: &;

    @extend .media;

    &__media {
        max-width: 50%;
        margin-right: 15px;
    }

    &__content {
        @extend .media-body;
    }

    &.is-stacked-on-mobile {
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }

    &.has-media-on-the-right {
        #{$block}__media {
            order: 1;
        }
    }

    &.is-vertically-aligned-top {
        #{$block}__media {
            align-self: flex-start;
        }
    }

    &.is-vertically-aligned-center {
        #{$block}__media {
            align-self: center;
        }
    }

    &.is-vertically-aligned-bottom {
        #{$block}__media {
            align-self: flex-end;
        }
    }
}

.wp-block-video {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
}

.wp-block-file {
    &__button {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;

        margin-left: 5px;
    }
}

.wp-block-gallery {
    margin: 10px auto;

    .blocks-gallery-grid {
        display: grid;
        grid-template-rows: auto;
        gap: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .blocks-gallery-item {
        figure {
            margin: 0;
            position: relative;
        }

        &__caption {
            background-color: rgba(0, 0, 0, 0.6);
            color: #ffffff;
            display: block;
            font-size: 0.9rem;
            margin-right: 10px;
            padding: 2px 6px;
            position: absolute; bottom: 10px; left: 10px;
        }
    }

    &.columns-3 {
        .blocks-gallery-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &.columns-2 {
        .blocks-gallery-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.columns-1 {
        .blocks-gallery-grid {
            grid-template-columns: 1fr;
        }
    }
}

.wp-block-cover {
    $block: &;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
    min-height: 500px;

    &__inner-container {
        color: #ffffff;
        position: absolute;
        z-index: 10;
    }

    &.is-position-bottom-center {
        #{$block}__inner-container {
            bottom: 1%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.is-position-bottom-left {
        #{$block}__inner-container {
            bottom: 1%;
            left: 1%;
        }
    }

    &.is-position-bottom-right {
        #{$block}__inner-container {
            bottom: 1%;
            right: 1%;
        }
    }

    &.is-position-center-center {
        #{$block}__inner-container {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.is-position-center-left {
        #{$block}__inner-container {
            top: 50%;
            left: 1%;
            transform: translateY(-50%);
        }
    }

    &.is-position-center-right {
        #{$block}__inner-container {
            top: 50%;
            right: 1%;
            transform: translateY(-50%);
        }
    }

    &.is-position-top-center {
        #{$block}__inner-container {
            top: 1%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.is-position-top-left {
        #{$block}__inner-container {
            top: 1%;
            left: 1%;
        }
    }

    &.is-position-top-right {
        #{$block}__inner-container {
            top: 1%;
            right: 1%;
        }
    }
}

.wp-block-buttons {
    display: flex;
    margin: 10px auto;
}

.wp-block-button {
    $block: &;

    margin-right: 5px;

    &__link {
        @extend .btn;
        @extend .btn-light;
    }

    &.is-style-fill {
        #{$block}__link {
            @extend .btn-primary;
        }
    }

    &.is-style-outline {
        #{$block}__link {
            @extend .btn-outline-primary;
        }
    }
}

.wp-block-columns {
    @include make-row();
}

.wp-block-column {
    @extend .col;
}

.wp-block-separator {
    width: 50%;

    &.is-style-wide {
        width: 100%;
    }

    &.is-style-dots {
        border-top-style: dotted;
        border-top-width: 5px;
        width: 10%;
    }
}

.wp-block-social-links {
    $block: &;

    list-style: none;
    padding: 0;
    margin: 10px auto;

    .wp-social-link {
        @extend .badge;
        @extend .badge-primary;
        color: $primary;
        display: inline-block;
        fill: #ffffff;
        margin-right: 5px;
    }

    &.is-style-pill-shape {
        .wp-social-link {
            @extend .badge-pill;
        }
    }

    &.is-style-logos-only {
        .wp-social-link {
            background: none;
            fill: $primary;
        }
    }
}

.wp-block-embed {
    @extend .embed-responsive;

    iframe {
        @extend .embed-responsive-item;
    }
}

.wp-embed-aspect-16-9 {
    @extend .embed-responsive-16by9;
}

.wp-block-search {
    @extend .form-inline;

    margin: 10px 0;

    &__label {
        font-weight: bold;
        margin-right: 5px;
    }

    &__input {
        @extend .form-control;
        margin-right: 5px;
    }

    &__button {
        @extend .btn;
        @extend .btn-primary;
    }
}

.has-background-dim {
    position: relative;

    &::before {
        content: '';
        position: absolute; left: 0; top: 0;
        background: #000000;
        opacity: 0.5;
        width: 100%; height: 100%;
        z-index: 1;
    }
}

.has-large-font-size {
    font-size: 2rem;
}

.has-text-align-center {
    text-align: center;
}
