.comment {
    margin-bottom: 30px;
    padding: 10px 15px;

    &-body {
        margin-bottom: 15px;
    }

    &-meta {
        position: relative;
    }

    &-author {
        .says {
            color: $gray-600;
        }

        .avatar {
            float: left;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }

    &-metadata {
        font-size: 0.9rem;

        .edit-link {
            position: absolute; top: 0; right: 0;

            a {
                @extend .btn;
                @extend .btn-sm;
                @extend .btn-link;
            }
        }
    }

    &-content {
        clear: both;
        margin: 20px 0;
    }

    &-reply-link {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-outline-primary;
    }

    > & {
        margin-left: 15px;
    }

    &.thread-odd {
        background: $gray-100;
    }

    &.bypostauthor {
        border-left: 1px solid lighten($primary, 25%);
    }
}
