.header {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;

    &__background-image {
        position: absolute; top: 0; left: 0;
        filter: opacity(0.5);
        margin: 0 auto;
        min-height: 100%;
        width: 100%; height: auto;
        z-index: -100;
    }

    &__titulo {
        background: rgba(#000000, 0.5);
        color: #ffffff;
        padding: 20px;
    }
}
