.post-item {
    background: $gray-100;
    border: 1px solid $gray-400;
    margin-top: 15px;
    padding: 20px 10px 10px;

    &__titulo {
        border: none;
        font-size: 1.25rem;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
        text-transform: uppercase;
        word-wrap: break-word;
    }

    &__meta {
        margin-bottom: 10px;
    }

    &__data {
        color: $gray-600;
        display: inline-block;
    }

    &__resumo {
        color: $gray-700;
    }

    &__separador {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &__meta {
        color: $gray-600;
        font-size: 0.8rem;
        text-align: center;
    }

    &__comentarios {
        @include icon-comment($gray-500);

        background-position: right center;
        background-size: 16px;
        display: inline-block;
        margin-right: 20px;
        padding-right: 18px;
    }
}
