.site-map {
    &__title {
        font-size: 1.75rem;
    }

    &__menu {
        @extend .card-columns;

        @include media-breakpoint-down(md) {
            column-count: 2;
        }

        @include media-breakpoint-down(xs) {
            column-count: 1;
        }

        column-count: 3;
        list-style: none;
        margin: 0 auto;
        padding: 0;

        > .menu-item {
            @extend .card;

            background: none;
            border: none;
            font-size: 1rem;
            margin-bottom: 30px;
        }

        .sub-menu {
            list-style: none;
            padding: 0;
            padding-top: 5px;

            > .menu-item {
                font-size: 0.8rem;
                font-weight: normal;
                text-transform: none;
            }
        }

        a {
            @include icon-chevron-right($primary);

            background-position: left center;
            background-size: 18px;

            color: $gray-700;

            padding-left: 20px;
        }
    }
}
