.site-map {
    &__title {
        font-size: 1.75rem;
    }

    &__menu {
        @extend .card-columns;

        @include media-breakpoint-down(md) {
            column-count: 2;
        }

        @include media-breakpoint-down(xs) {
            column-count: 1;
        }

        column-count: 3;
        list-style: none;
        margin: 0 auto;
        padding: 0;

        > .menu-item {
            @extend .card;

            background: none;
            border: none;
            font-size: 1rem;
            margin-bottom: 30px;
        }

        .sub-menu {
            list-style: none;
            padding: 0;
            padding-top: 5px;

            > .menu-item {
                font-size: 0.8rem;
                font-weight: normal;
                text-transform: none;
            }
        }

        a {
            background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#{encodecolor($primary)}" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" viewBox="0 0 24 24"><path d="M9 18l6-6-6-6"/></svg>');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 18px;

            color: $gray-700;

            padding-left: 20px;
        }
    }
}
